/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/* Шрифты   */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}


/* переменные  */
:root {
  --accent-color: #000;
  --text-button-color: rgba(255, 255, 255, 1);;
  --carnation-color: #fb565a;
  --carnation-hover-color: #e74246;
  --carnation-clicking-color: #d7373b;
  --green-color: #00ca74;
  --green-hover-color: #00bc6c;
  --green-clicking-color: #00aa62;
  --ronchi-color: #efc849;
  --ronchi-hover-color: #eab534;
  --ronchi-clicking-color: #e5a722;
  --mercury-color: #e1e1e1;
  --black-color: rgba(0, 0, 0, 1);
  --gallery-color: #eeeeee;
  --gallery-hover-color: #dfdfdf;
  --gallery-clicking-color: #d5d5d5;
  --grey--color:rgba(77, 77, 77, 1);
  --small-text-color: #283136;
  --adress-text-color: #666666;
  --footer-text-color: #444444;;
  --border-color: #d7dcde;
}

body {
  min-width: 1440px;
  font-family: 'Roboto', "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--small-text-color);
}

textarea {
  resize: none;
}

legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--accent-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-button-color);
}

/* header */

.logo-img:hover {
  fill-opacity: .7;
}

.logo-img:active {
  fill-opacity: .3;
}

.main-header {
  background-color: var(--gallery-color);
}

.nav-link {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--carnation-color);
}

.nav-link:active {
  color: inherit;
  opacity: 0.3;
}

.nav-link-active {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--carnation-color);
}

/* promo */

.promo-link {
  display: inline-block;
  padding: 17px 56px 15px 53px;
  border-radius: 3px;
  background-color: var(--carnation-color);
}

.promo-link:hover {
  background-color: var(--carnation-hover-color);
}

.promo-link:active {
  background: var(--carnation-clicking-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, .3);
}

.slide-item {
  background-color: var(--gallery-color);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}

/* service */

.services-link {
  display: inline-block;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
}

.services-link-red {
  background-color: var(--carnation-color);
}

.services-link-red:hover {
  background: var(--carnation-hover-color);
}

.services-link-red:active {
  background-color: var(--carnation-clicking-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, .3);
}

.services-link-green {
  background-color: var(--green-color);
}

.services-link-green:hover {
  background: var(--green-hover-color);
}

.services-link-green:active {
  background-color: var(--green-clicking-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, .3);
}

.services-link-yellow {
  background-color: var(--ronchi-color);
}

.services-link-yellow:hover {
  background: var(--ronchi-hover-color);
}

.services-link-yellow:active {
  background-color: var(--ronchi-clicking-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, .3);
}

.services-img {
  background-color: var(--gallery-color);
}

/* about */

.about-img {
  background-color: var(--gallery-color);
}

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--accent-color);
}

.about-description {
  font-weight: 700;
}

.about-statistic-text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-color);
}

.about-table-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--accent-color);
}

.about-table-title span {
  font-size: 26px;
  line-height: 40px;
}

.about-table-subtitle {
  line-height: 18px;
}

/* customers */

.customers-img {
  opacity: .2;
}

.customers-img:hover {
  opacity: 1;
}

.customers-img:active {
  opacity: .1;
}

/* contacts */

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.contacts-subtitle {
  line-height: 18px;
  color: var(--adress-text-color);
}

.contacts-tel {
  line-height: 18px;
  color: var(--adress-text-color);
}

/* footer */


.social-link {
  display: block;
  width: 81px;
  height: 81px;
  background-color:  var(--mercury-color);
  border-radius: 50%;
  /* text-align: center; */
  /* padding-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  background-color:  var(--carnation-hover-color);
}

.social-link:active {
  background-color: var(--carnation-clicking-color);
  fill-opacity: .2;
}


.footer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--accent-color);
}

.footer-subtitle {
  line-height: 22px;
  color: var(--footer-text-color);
}

/* modal */

.feedback-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--accent-color);
}

.feedback-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--accent-color);
}

::placeholder {
  line-height: 18px;
  color: var(--footer-text-color);
  opacity: 0.5;
}

textarea {
  width: 760px;
  height: 118px;
  background: #FFFFFF;
  border: 2px solid var(--border-color);
  border-radius: 3px;
}


/* catalog */

.sort-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--accent-color);
  opacity: 0.3;
  cursor: pointer;
}

.sort-button:hover {
  opacity: 0.6;
}


.sort-button-active,
.sort-button:active {
  color: var(--accent-color);
  opacity: 1;
}

/* filter */

.checkbox {
  position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-title {
  line-height: 20px;
}

.features-link {
  padding: 17px 89px 15px 88px;
  color: var(--accent-color);
  background-color: var(--gallery-color);
  border-radius: 3px;
}

.features-link:hover {
  background-color: var(--gallery-hover-color);
}

.features-link:active {
  background-color: var(--gallery-clicking-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, .3);
}

/* catalog-list */

.catalog-img {
  /* background-color: var(--gallery-color); */
  position: relative;
  margin-top: 70px;
}

.catalog-img::before {
  content:  url('../img/svg/browser.svg');
  position: absolute;
  top: 30px;
  left: -1px;
  width: 360px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .12;
}

.catalog-img:hover::before {
  opacity: 1;
}

.catalog-hover {
  background-color: var(--gallery-color);
  width: 360px;
  height: 231px;
}

.catalog-hover-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.catalog-hover-title:hover {
  color: var(--carnation-color);
}

.catalog-hover-title:active {
  opacity: 0.3;
  color: initial;
}

.catalog-hover-subtitle {
  line-height: 18px;
  color: var(--adress-text-color);
}

.catalog-hover-btn {
  font-weight: 500;
  line-height: 18px;
  padding: 17px 72px 15px 72px;
  background-color: var(--carnation-color);
  border-radius: 3px;
  color: var(--text-button-color);
}

.catalog-hover-btn:hover {
  background-color: var(--carnation-hover-color);
}

.catalog-hover-btn:active {
  background-color: var(--carnation-clicking-color);
}
